@page "/staffs/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]

<h3 class="card-title">Restaurant Staffs</h3>

@if (Staffs == null)
{
    <div class="alert alert-info">Loading Staffs...</div>
}

else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Staff Name</th>
                <th>Staff Contact</th>
                <th>Staff Email</th>
                <th>Staff Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var staff in Staffs)
            {
                <tr>
                    <td>@staff.StaffName</td>
                    <td>@staff.StaffContact</td>
                    <td>@staff.StaffEmail</td>
                    <td>@staff.StaffRole</td>
                    <td>
                        <a href="/tables/view/@staff.StaffID" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="/tables/edit/@staff.StaffID" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="@(()=>Delete(staff.StaffID))">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}



@code {
    private List<Staff>? Staffs;

    protected async override Task OnInitializedAsync()
    {
        Staffs = await _client.GetFromJsonAsync<List<Staff>>($"{Endpoints.StaffsEndpoint}");
    }

    async Task Delete(int staffId)
    {
        if (Staffs != null)
        {
            var staff = Staffs.First(q => q.StaffID == staffId);
            var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete this row?");
            if (confirm)
            {
                await _client.DeleteAsync($"{Endpoints.StaffsEndpoint}/{staffId}");
                await OnInitializedAsync();
            }
        }
    }
}
